
      .Logo__Menu {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
      }
      nav {
        display: flex;
        align-items: center;
        gap: 50px;
      }